.reviewItem {
    /* height: 16.25vw; */
    width: 18.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.userInfo {
    display: flex;
    flex-direction: row;
}
.userName div {
    width: 13.3vw;
}
.userName div:nth-child(1) {
    font-weight: 500;
    font-size: 1.03vw;
    line-height: 1.6vw;
    color: #1E1E1E;
    margin-bottom: 8px;
}
.userName div:nth-child(2) {
    font-size: 0.83vw;
    line-height: 1.25vw;
    letter-spacing: 0.005em;
    color: #313131;
}
.userInfo img {
    height: 6.25vw;
    width: 6.25vw;
}
.userName {
    height: 6.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.8vw;
}
.reviewText {
    width: 18.75vw;
    font-size: 0.83vw;
    margin-top: 1.25vw;
    font-style: normal;
    font-weight: normal;
    font-size: 0.83vw;
    line-height: 1.25vw;
    letter-spacing: 0.005em;
    color: #313131;
}